

nav div{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 10px;

    
}

.btn-primary{
    height: 40px;
    width: 120px;
    border-radius: 5px;
   border-width: 1px;
   border-color: #006A50;
   color: #006A50;
   font-size: 20px;
   
   
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.little-bd{
    color:#726f6f;
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-secondary{
    height: 36px;
    width: 200px;
    background-color: #006a50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;

}

section div h1{
    font-size: 30px;
    margin-top: 0px;
}
.pillar-container{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    gap: 24px;
}
.head-pillar{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.pillers{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.vision-title{
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 600;
    font-size: 26px;
}
.vision-description{
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 50px;
}
.vision-container{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    gap:50px;
    margin-bottom: 50px;
    
}
.visions-first{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #81B4FC;
}
.visions-second{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #C6E4D6;
}
.visions-third{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #FFF7DF;
}
.btn-first{
    background-color: #006AFF;
    color: white;
    height:30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn-second{
    background-color: #09A15C;
    color: white;
    height:30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}
.btn-third{
    background-color: #FFC239;
    color: white;
    height:30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.quote{
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    border: 1px solid black;
}
.quate-pic{
    margin-top: 0px;
    margin-bottom: 0;
}
.dr-quote{
    margin-top: -30px;
}
.dr-position{
   color: #726f6f;
    
}

