

nav div{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;

    
}

.btn-primary{
    height: 40px;
    width: 120px;
    border-radius: 5px;
   border-width: 1px;
   border-color: #006A50;
   color: #006A50;
   font-size: 20px;
   
   
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}