.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

nav div{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;

    
}

.btn-primary{
    height: 40px;
    width: 120px;
    border-radius: 5px;
   border-width: 1px;
   border-color: #006A50;
   color: #006A50;
   font-size: 20px;
   
   
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.little-bd{
    color:#726f6f;
    font-size: 18px;
    margin-bottom: 10px;
}
.btn-secondary{
    height: 36px;
    width: 200px;
    background-color: #006a50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;

}

section div h1{
    font-size: 30px;
    margin-top: 0px;
}
.pillar-container{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    gap: 24px;
}
.head-pillar{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.pillers{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}
.vision-title{
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 600;
    font-size: 26px;
}
.vision-description{
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 50px;
}
.vision-container{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    gap:50px;
    margin-bottom: 50px;
    
}
.visions-first{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #81B4FC;
}
.visions-second{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #C6E4D6;
}
.visions-third{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    background-color: #FFF7DF;
}
.btn-first{
    background-color: #006AFF;
    color: white;
    height:40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.btn-second{
    background-color: #09A15C;
    color: white;
    height:40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}
.btn-third{
    background-color: #FFC239;
    color: white;
    height:40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.quote{
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    border: 1px solid black;
}
.quate-pic{
    margin-top: 0px;
    margin-bottom: 0;
}
.dr-quote{
    margin-top: -30px;
}
.dr-position{
   color: #726f6f;
    
}
.recent-news{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 32px;
    
}
.recent-news-description{
    color: #726f6f;
}
.satelite-full{
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    gap: 30px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06); 
    margin-bottom: 50px;
}
.satelite-pic{
    border-radius: 20px;
}
.satelite-second{
    display: flex;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);


}
.full-donate{
margin-left: 90px;
margin-right: 90px;

}
.donate-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.donate-description{
    text-align: center;
    color: #726f6f;
}
.donate-amount{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    

}
.donate-taka{
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    padding: 30px;
    border: 1px solid #242323;
}
.special-taka{
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    background-color: #C6E4D6;
    padding: 30px;
    border: 1px solid #242323;
}
.donate-takaa{
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    padding: 30px;
    border: 1px solid #242323;

}
.donate-takaaa{
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    padding: 30px;
    border: 1px solid #242323;

}
.taka-holder{
    text-align: center;
    
    height: 30px;
    width: 600px;
    justify-content: center;
    
    font-size: 18px;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(26, 19, 19, 0.06);
    
}
.taka-form{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.done-button{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.subscribe-from{
    margin-left: 80px;
    margin-right: 80px;
    background-color: #C6E4D6;
    padding: 50px;
    margin-bottom: 80px;
    
    
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.mail-form{
    height: 32px;
    width: 300px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
}
.subscribe-title{
    font-size: 40px;
    font-weight: bold;
}
.subscribe-description{
    font-size: 18px;
}
.btn-second:hover{
   background-color:white ;
   color: #09A15C;
    border: 1px solid green;
}
.btn-primary:hover{
    background-color: #09A15C;
    color: white;
}
.btn-secondary:hover{
    background-color: white;
    color: #09A15C;
    border: 1px solid #09A15C;
}
.btn-first:hover{
    background-color: white;
    color: #006AFF;
    border: 1px solid #006AFF;
}
.btn-third:hover{
    background-color: white;
    color: #FFC239;
    border: 1px solid #FFC239;
}
.promise-spam{
    color: #726f6f;
}
.social-image{
    text-align: center;
    margin-bottom: 10px;
}
.last-bd{
    text-align: center;
   margin-bottom: 30px;
   border-bottom: 1px solid #726f6f;
   
   margin-left: 80px;
   margin-right: 80px;
   
  
}
.foter-design{
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    
    
}